bite/cpp-source-submodule/*
!bite/cpp-source-submodule/.git

# Prerequisites
*.d

# All cpp files and headers
*.cpp
!bite/_bite.cpp
*.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
