bite/cpp_source_submodule/*
!bite/cpp_source_submodule/.git

dist/*

# Prerequisites
*.d

# macoOS folder attributes
*.DS_Store

# ignore backups
*_backup.py

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
