# MANIFEST.in

# Include README and LICENSE
include README.md
include LICENSE

# Include all Python modules and packages
recursive-include bitepy *.py

# exclude C++ source and header files
exclude bitepy/cpp-source-submodule/bite/src *.cpp *.h *.o

include bitepy/_bite*.so

# Include data files, if any
# recursive-include bitepy/data *.json *.csv

# Exclude build artifacts
exclude *.pyc
exclude __pycache__/
prune bitepy/build
prune bitepy/dist